body {
  background-image: url('pinoyplatesbg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; /* Set the font for the entire page */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: #2B35AF;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.top-bar-item {
  flex: 1;
  text-align: center;
  color: white; /* Change the color to white */
}

h1 {
  background: linear-gradient(to right, yellow, blue, red, white);
  padding: 10px 15px;
  width: 250px;
  margin: 60px auto 20px;
  font-family: 'Poppins Medium', sans-serif; /* Set the font for h1 */
}

p {
  padding: 20px;
  background-color: hsl(120, 50%, 50%);
  border: none; /* Remove the borders */
  width: 500px;
  font-style: italic;
  margin: 0 auto 20px;
  font-family: 'Poppins Medium', sans-serif; /* Set the font for p */
}

span {
  font-weight: bold;
  font-style: italic;
  color: rgb(255, 0, 0);
  margin: 2px 5px;
}
