body {
  background-color: white; /* Change the background color to white */
  margin: 0;
  padding: 0;
  font-family: 'Poppins Medium', poppins-medium; /* Set the font for the entire page */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  background-color: #2B35AF;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.top-bar-item {
  flex: 1;
  text-align: center;
}

.top-bar-item a {
  color: white; /* Change the color of the links to white */
  text-decoration: none; /* Remove the underline for links */
  font-family: 'Poppins Medium', poppins-medium; /* Set the font for links */
}

h1 {
  color: #2B35AF; /* Change the color of h1 to match the header */
  padding: 10px;
  margin: 60px auto; /* Center h1 horizontally and add some margin */
  font-family: 'Poppins Medium', poppins-medium; /* Set the font for h1 */
}

.main-content {
  display: grid; /* Use grid layout for the main content */
  grid-template-columns: repeat(3, auto); /* Divide the main content into three columns */
}

.about-us {
  grid-column: span 3; /* Make the about us section span three columns */
}

.title {
  grid-column: span 2; /* Make the title section span two columns */
}

.description {
  
}

img {
  width: 100%; /* Make the image fit its container */
}

p {
  padding: 20px;
}
